@media screen and (max-width: 1000px) {

	body {
		cursor:auto;
		animation: none linear;
		animation-timeline: scroll();
	}

	#splash-image {
		height: 46vw;
	}

	.circle {
		display: none;
	}



	/*hero*/

	#hero{
		height: 100vh;
		background: rgba(20,20,20,1.00);
		margin-bottom: 7vh;
		animation: none ease-in;
		animation-timeline: scroll();
	}
	
	.block1{
		background-color: #e69138;
		height: 70px;
		width: 70px;
	}
	
	.block2{
		background-color: #ffd966;
		height: 70px;
		width: 70px;
	}
	
	.block3{
		background-color: #fff2cc;
		height: 70px;
		width: 70px;
	}
	
	.section_text {
		position: relative;
		left: 5px;
		display: inline-block;
		width: 300px;
	}
	
	.section_text_p1 {
		position: relative;
		top: 84px;
		font-size: 90px;
		font-family: 'Montserrat';
		font-weight: 1000;
		margin: 0;
		color: #e69138
	}
	
	.section_text_p2 {
		position: relative;
		bottom: 86px;
		font-size: 90px;
		font-family: 'Montserrat';
		font-weight: 1000;
		margin: 0;
		color: #e69138
	}
	
	.title {
		position: relative;
		font-size: 90px;
		font-family: 'Montserrat';
		font-weight: 1000;
		margin: 0;
		top: 47px;
		color: #FFF2CC;
	}




	/*ABOUT*/

	#about {
		display: block;
		height: 67vh;
		background: rgb(255, 255, 255);
		color: white;
		padding-left: 6%;
		padding-right: 6%;
		justify-content: center;
		justify-items: center;
	}



.vimeo-player {
	width: 80vmin;
	border-radius: 20px;
	position: relative;
}

	
	.about-containers {
		flex-wrap: wrap;
	}

	.abt-s-cont {
		position: relative;
		justify-items: center;
		justify-content: center;
	}

	.about-title {
		font-size: 20vmin;
		font-family: 'Montserrat';
		font-weight: 1000;
		color: var(--black);
		opacity: 100%;
		animation: none linear;
	}

	.about-container-1 {
		display: block;
		width: 90vw;
		top: 40px;
		flex-wrap: wrap;
		text-wrap: wrap;
		color: (#FFF2CC);
	}

	.about-container-2 {
		display: block;
		justify-content: center;
		width: 90vw;
		top: 170px;
		flex-wrap: wrap;
		text-wrap: wrap;
		color: (#FFF2CC);
	}

	.about-s-p2 {
		position: relative;
		color: var(--orange);
		font-size: 1.3rem;
		font-weight: 300;
		opacity: 100%;
		animation: none linear;
	}


	/*PROJECTS*/

	.projects-title {
		font-size: 14vmin;
		font-weight: 1000;
		color: var(--orange);
		opacity: 100%;
		animation: prjtext linear;
		animation-timeline: scroll();
	}

		/* Img slider */

	#image-track {
		display: flex;
		gap: 4vmin;
		user-select: none; /* -- Prevent image highlighting -- */
	}
	
	#image-track > .image {
		width: 75vmin;
		height: 95vmin;
	}

	.work-head {
		display: none;
	}





	#warning {
		display: block;
		position: sticky;
		text-align: center;
		justify-content: center;
		left: 0;
		right: 0;
		z-index: -100;
		top: 0%;
		padding-bottom: 7vh;
		animation: none ease-in;
		animation-timeline: scroll();
	}

	.site-warning {
		font-family: Montserrat;
		font-size: 4rem;
		font-weight: 1000;
		line-height: 3.5rem;
	}
	
	.site-warning-2 {
		color: rgb(20,20,20);
		font-size: 1rem;
		font-weight: 600;
		margin-top: 1.5rem;
	}

	@keyframes parallax {
		to {
			transform: translateY(-1100vh);
		}
	}




	/* ABOUT */






	
	footer {
		height: 50vh;
	}

	.spline1 {
		height: 100vh;
		position: relative;
		bottom: 40vh;
	}

	.spline-container {
		width: 100vw;
		position: absolute;
		z-index: -101;
		height: 50vh;
		overflow-y: hidden;
	}
	


	}

