@media screen and (max-width: 1000px) {
	
	#profile {
    height: 100vh;
    margin-bottom: 6rem;
	display: block;
  }
	

	
.section_pic-container {
    width: 100vw;
    height: 46vw;
    justify-content: center;
  }

  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
	
}

