/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
}

body {
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

p {
	color: rgba(40,40,40,1.00);
}

body{
	display:flex;
	justify-content: center;
	align-items: center;
	height:100vh;
}

div{
}


#hero{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	padding-top: 3vh;
	
}

#animation{
	width:80vw;
	}

button{
	border: solid 2px rgba(40,40,40,1.00);
	border-radius: 30px;
	padding: 15px 30px;
	transition: all 300ms ease;
	margin: 3vh;
	background: white;
}

button:hover{
	border: solid 2px rgba(40,40,40,1.00);
	border-radius: 30px;
	padding: 15px;
	background: rgba(189,189,189,1.00);
	cursor: pointer;
}






