/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
transition: all 400ms ease-in-out;
}

body {
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

p {
	color: dimgrey;
}

section{
	position: relative;
	box-sizing: border-box;
	min-height: fit-content;
}


/* SECTION 1 HEADER*/

#section-1{
	height: 100vh;
	/* border: solid 5px black;
	border-radius: 20px; */
}

nav{
	display: flex;
	position: sticky;
	margin: -6vh;
	z-index: 20;
	justify-content: center;
	align-items: center;
	height: 12vh;
	/* border: solid 5px black;
	border-radius: 20px; */
	top:0;
	left:0;
	right:0;
	background: white;
}

.logohead {
	display: flex;
	align-content: center;
}

.logohead:hover {
	cursor: pointer;
}

.logo {
	font-size: 3rem;
	font-weight: 600;
	font-family: 'Playfair Display';
}

.logo2 {
	font-size: 3rem;
	font-weight: 800;
	font-family: 'Poppins';
	color: rgba(60,60,60,1.00);
}


/* SECTION 1 PROFILE */

#profile {
	display: flex;
	justify-content: center;
	height: 100vh;
	
	
}

.section_pic-container {
	display: flex;
	height: 400px;
	width: 400px;
	margin: auto 0;
}

.section_text {
	align-self: center;
	text-align: center;
}

.section_text_p1 {
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 1rem;
	text-align: center;
}

.section_text_p2 {
	text-align: center;
	font-weight: 600;
	margin-bottom: 0rem;
}

.title {
	font-size: 3rem;
	text-align: center;
}

#socials-container {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	gap: 1rem;
}

.icon {
	cursor: pointer;
	height: 2rem;
	margin-top: 1rem;
}

/* SECTION 2 */


/* FOOTER */

footer{
	display: flex;
	height: 10vh;
	justify-content: center;
	align-items: center;
	background: rgba(30,30,30,1.00);
	margin-top: 5vh;
}