@media screen and (max-width: 1000px) {


   .header {
      background-color: black;
   }

   .header-bg {
      display: none;
   }
   
   .hero-main-container {
      padding-inline: 1rem;
   }

   .info-main-container {
      padding: 1rem;
      margin-bottom: 0rem;
   }
   
   .text-box-text-1 {
      font-size: 1.6rem;
   }

   .text-box-text-1-credits {
      font-size: 1.6rem;
   }
   
   .text-box-text-2 {
      font-size: 1.6rem;
   }

   .project-info {
      flex-direction: column;
      padding-bottom: 1rem;
   }

   .title-box-text {
      font-size: 2.6rem;
      text-wrap: wrap;
      width: auto;
   }

   .title-icon-small {
      margin-right: 0;
   }

   .description-tags {
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
   }

   .tags-container {
      gap: 0.5rem;
   }

   .text-box-text-1-description {
      font-size: 1.6rem;
      margin-right: 0;
   }

   .main-description {
      flex-direction: column;
   }

   .description-text {
      margin-left: 0;
      padding-right: 0;
   }

   .credits-main-container {
      padding: 0;
      padding-top: 3rem;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .credits-container {
      padding-inline: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
   }




   .view-project {
      height: 15vh;
   }




   .project-work {
      padding: 1rem;
      padding-bottom: 15rem;
  }

  .project-work-first-container {
   gap: 1.5rem;
   margin-bottom: 1.5rem;
}

.project-info-container {
   gap: 1rem;
}

  .project-info-main-container {
   width: 100%;
}

.project-subtitle {
   font-size: 1.6rem;
}

.project-work-first-container {
   flex-direction: column;
}

   .project-work-first-container:nth-child(1) {
      flex-direction: column-reverse;
   }

   .project-work-first-container:nth-child(4) {
      flex-direction: column-reverse;
   }

   .project-work-second-main-container {
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 1.5rem;
   }
   





   .featured-work-container {
      padding: 1rem;
   }

   .featured-work-about-container {
      flex-direction: column;
      height: 65vh;
   }

   .featured-work-keywords-container {
      width: 100%;
   }

   .featured-work-keywords {
      font-size: 12vw;
      text-align: right;
   }

   .text-box-text-reel {
      font-size: 1.4rem;
   }

   .reel-container {
      width: 100%;
      height: 100%;
   }


    /* Footer */

    .footer-container{
      display: flex;
      flex-wrap: wrap;
      height: 70vh;
      width: 100%;
      background-color: black;
      overflow: hidden;
      padding:1rem;
      padding-bottom: 3rem;
      align-content: flex-end;
   }

   .footer-title {
      font-size: 15vw;
      font-weight: 900;
      color: white;
      height: fit-content;
      padding-left: 0;
   }

   .footer-details-container {
      margin-right: 0;
  }
}
