/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
}

body {
	--orange:#e69138;
	--black: rgba(20,20,20,1.00);
	--yellow: rgba(255,217,102,1);
	--cream: #FFF2CC;
	font-family: 'Playfair Display', serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Kanit', sans-serif;
	cursor: none;
	background-color: var(--orange);
}


html {
	scroll-behavior: smooth;
}

p {
	color: rgba(200,200,200,1.00);
	font-family: 'Montserrat', sans-serif;
}

section{
	position: relative;
}

img {
	user-select: none;
}





/* scrollbar*/

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(20,20,20,1.00);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #e69138;    /* color of the scroll thumb */
	border-radius: 0px;       /* roundness of the scroll thumb */
	border: 0px solid rgba(20,20,20,1.00);  /* creates padding around scroll thumb */
  }

body::-webkit-scrollbar-track:hover {
	cursor: crosshair;
}

body::-webkit-scrollbar-thumb:hover {
	cursor: crosshair;
}






/* MOUSE CURSOR FOLLOWER */

.circle {
	--circle-size: 30px;
	--border-size: 1.5px;
	--color: rgba(255,217,102,1);
	position: fixed;
	z-index: 500;
  	height: var(--circle-size);
  	width: var(--circle-size);
  	border: var(--border-size) solid var(--color);
  	border-radius: 100%;
  	top: calc(var(--circle-size) / 2 * -1);
  	left: calc(var(--circle-size) / 2 * -1);
  	pointer-events: none;
	background-color: rgba(255,217,102,1);
	transition: border 400ms ease-in-out;
	transition: background-color 200ms ease-in-out;
	z-index: 1000000000000000;
}




/* HERO */

#hero{
	overflow-x: hidden;
	height: 100vh;
	background: var(--black);
	margin-bottom: 0vh;
	overflow-y: hidden; 
}

.background {
	position: absolute;
	bottom: 30vh;
	left: 75vw;
	height: 100vh;
	z-index: 100000;
}




/* TOPBAR */

#desktop-nav {
	display: flex;
	position: sticky;
	margin: 0vh;
	z-index: 2000;
	align-content: center;
	top:0;
	left:0;
	right:0;
}

.desktop-nav {
	margin: 0vh;
	display: flex;
	position:fixed;
	left:0;
	right:0;
	justify-content: left;
	align-items: center;
	height: 12vh;
	padding-left: 6vw;
}

.logohead {
	display: flex;
	align-content: center;
	transition: all 10s ease-in;
	padding: 10px;
}

.logo-tleft{
	width: 70px;
}

.circle {
	 border: var(--border-size) solid var(--color);
}




/* PROFILE */

#profile {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	padding-left: 6vw;
	padding-right: 6vw;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.block1{
	background-color: var(--yellow);
	height: 120px;
	width: 120px;
}

.section_text {
	position: relative;
	left: 10px;
	display: inline-block;
	width: auto;
}

.section_text_p1 {
	position: relative;
	font-size: 150px;
	font-family: 'Montserrat';
	font-weight: 1000;
	margin: 0;
	color: #e69138;
	z-index: 0;
}

.description-container {
	display: flex;
	justify-content: center;
}

.description {
	font-size: 1.3rem;
	font-weight: 300;
	text-align: center;
	width: 70vmin;
	text-wrap: wrap;
	color: var(--cream);
}




/* Plucked */

#plucked-section {
	background-color: var(--cream);
	z-index: 100;
	padding: 6vw;
	display: block;
	text-align: center;
}

.pluck-container{
	position: absolute;
	display: flex;
	justify-content: center;
}

.pluck {
	width: 800px;
	height: auto;
	z-index: 100;
}

.brand-board {	
	position:relative;
	display: flex;
	justify-content: center;
	justify-items: center;
}

video {
	border-radius: 30px;
	border: solid 5px var(--orange);
}

.description-container2 {
	margin: 7rem;
	display: flex;
	justify-content: center;
}

.description2 {
	font-size: 1.3rem;
	font-weight: 300;
	text-align: center;
	width: 90vmin;
	text-wrap: wrap;
	color: var(--black);
}

.viewmore {
	width: 15vmin;
	height: 5vmin;
	font-size: 1.3rem;
	color: var(--black);
	font-family: 'Montserrat', sans-serif;
	border: solid 5px var(--orange);
	border-radius: 20px;
	cursor: none;
	background-color: transparent;
}




/* footer */

footer {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.00); 
}

.footer-container {
	padding-inline: 6vw;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-self: center;
	align-content: center;
	align-items: center;
}

#f {
	font-weight: 600;
	font-size: 1.3rem;
	color: rgb(20,20,20);
	margin-bottom: 1vh;
}

.socials-container {
	display: flex;
	justify-content: center;
}

.icon {
	height: 45px;
	transition: all 200ms ease-in-out;
	margin: 5px;
}

.icon:hover {
	height: 40px;
	transition: all 200ms ease-in-out;
} 