@media screen and (max-width: 1000px) {

	body {
		cursor:auto;
		animation: none linear;
		animation-timeline: scroll();
	}

	#splash-image {
		height: 46vw;
	}

	.circle {
		display: none;
	}



	/*hero*/

	#hero{
		overflow-x: hidden;
		height: 100vh;
		background: var(--black);
		margin-bottom: 0vh;
		overflow-y: hidden; 
	}
	
	.background {
		position: absolute;
		bottom: 30vh;
		left: 75vw;
		height: 100vh;
		z-index: 100000;
	}
	
	
	
	
	/* TOPBAR */
	
	#desktop-nav {
		display: flex;
		position: sticky;
		margin: 0vh;
		z-index: 2000;
		align-content: center;
		top:0;
		left:0;
		right:0;
	}
	
	.desktop-nav {
		margin: 0vh;
		display: flex;
		position:fixed;
		left:0;
		right:0;
		justify-content: left;
		align-items: center;
		height: 12vh;
		padding-left: 6vw;
	}
	
	.logohead {
		display: flex;
		align-content: center;
		transition: all 10s ease-in;
		padding: 10px;
	}
	
	.logo-tleft{
		width: 70px;
	}
	
	.circle {
		 border: var(--border-size) solid var(--color);
	}
	
	
	
	
	/* PROFILE */
	
	#profile {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right:0;
		padding-left: 6vw;
		padding-right: 6vw;
		justify-content: center;
		justify-items: center;
		align-items: center;
		align-content: center;
	}
	
	.profile {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	
	.block1{
		background-color: var(--orange);
		height: 11vmin;
		width: 11vmin;
	}
	
	.section_text {
		position: relative;
		left: 10px;
		display: inline-block;
		width: auto;
	}
	
	.section_text_p1 {
		position: relative;
		font-size: 13vmin;
		font-family: 'Montserrat';
		font-weight: 1000;
		margin: 0;
		color: #e69138;
		z-index: 0;
	}
	
	.description-container {
		display: flex;
		justify-content: center;
	}
	
	.description {
		font-size: 1.3rem;
		font-weight: 300;
		text-align: center;
		width: 70vmin;
		text-wrap: wrap;
		color: var(--cream);
	}




	/* Plucked */

#plucked-section {
	background-color: var(--cream);
	z-index: 100;
	padding: 6vw;
	display: block;
	text-align: center;
}

.pluck-container{
	position: absolute;
	display: flex;
	justify-content: center;
}

.pluck {
	width: 800px;
	height: auto;
	z-index: 100;
}

.brand-board {	
	position:relative;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.description-container2 {
	display: flex;
	justify-content: center;
	margin: 0rem;
}

.description2 {
	font-size: 1.3rem;
	font-weight: 300;
	text-align: center;
	text-wrap: wrap;
	color: var(--black);
}

.viewmore {
	width: 15vmin;
	height: 5vmin;
	font-size: 1.3rem;
	color: var(--black);
	font-family: 'Montserrat', sans-serif;
	border: solid 5px var(--orange);
	border-radius: 20px;
	cursor: none;
	background-color: transparent;
}





	
	footer {
		height: 50vh;
	}

	.spline1 {
		height: 100vh;
		position: relative;
		bottom: 40vh;
	}

	.spline-container {
		width: 100vw;
		position: absolute;
		z-index: -101;
		height: 50vh;
		overflow-y: hidden;
	}
	


	}

